{{> navbar}}
<br />
<table style="border: #b2b2b2 1px solid;">
    <caption>Producto: <strong>{{this.nombre}}</strong></caption>
    <thead>
        <tr>
            <th><strong>ID</strong></th>
            <th><strong>Código</strong></th>
            <th><strong>Precio</strong></th>
            <th><strong>Stock</strong></th>
            <th><strong>Timestamp</strong></th>
            <th><strong>Descripcion</strong></th>
            <th><strong>Foto</strong></th>
        </tr>
    </thead>
    <tr>
        {{#if products._id}}
        <td>{{products._id}}</td>
        {{/if}}
        {{#if products.id}}
        <td>{{products.id}}</td>
        {{/if}}
        <td>{{products.codigo}}</td>
        <td> $ {{products.precio}}</td>
        <td>{{products.stock}}</td>
        <td>{{products.timestamp}}</td>
        <td>{{products.descripcion}}</td>
        <td><img src="{{products.foto}}" class="product-img" width="100" height="100" /></td>
    </tr>
</table>
